<!doctype html>
  <html lang="en" data-ng-app="myJava">
    <head>
      <title>Customer App</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="bower_components/bootstrap/css/bootstrap.min.css" rel ="stylesheet">
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
      <script src="bower_components/jQuery/jquery-3.1.0.min.js"></script>
      <script src="bower_components/bootstrap/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
      <script src="app/js/controllers.js"></script>
      <link rel="stylesheet" type="text/css" href="app/css/myStyle.css">
    </head>
    <body data-ng-controller="listView">
      <div class="container">

        <div class="row">
          <h1>Customers </h1>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-md-4">
              <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#home"><i class="fa fa-th-large" aria-hidden="true"></i> Card View</a></li>
                <li ><a data-toggle="pill" href="#menu1"><i class="fa fa-list" aria-hidden="true"></i> List View</a></li>
                <li ><a data-toggle="pill" href="#menu2"><i class="fa fa-plus" aria-hidden="true"></i> Add Customers</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <label>filter : </label>
              <input data-ng-model="myFilter.firstName" placeholder="first Name">
              <input data-ng-model="myFilter.lastName" placeholder="last Name">
            </div>
          </div>


          <div class=" row tab-content">
            <!-- tab one start-->
            <div id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-lg-3" ng-repeat="customer in customers | filter : myFilter">
                    <div class="panel panel-primary"  data-toggle="modal" data-target="#editFormModal">
                        <div class="panel-heading">
                            <h5>{{customer.firstName+' '+customer.lastName}}</h5>
                            <button class="close" ng-click="deleteRecord(customer.id)">&times;</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <div class="col-lg-8">
                                    {{customer.address}}
                                </div>
                                <div class="col-lg-offset-4 col-lg-8">
                                    {{customer.numberOfOrders}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- modal in tab one-->
            <div class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
                  <h4 class="modal-title">Customer</h4>
                </div>
                <div class="modal-body">
                  <!-- Customer form -->
                  <form ng-submit="submitForm(data)">
                      <input type="hidden" value="{{customer.id}}">
                      <div class="form-group">
                          <label for="firstName">First Name</label>
                          <input type="text" name="firstName" id="firstName" ng-model="customer.firstName" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="lastName">Last Name</label>
                          <input type="text" name="lastName" id="lastName" ng-model="customer.lastName" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="address">Address</label>
                          <input type="text" name="address" id="address" ng-model="customer.address" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input type="text" name="email" id="email" ng-model="customer.email" class="form-control" required>
                        </div>
                        <div class="form-group">
                          <label for="numberOfOrders">Number of Orders</label>
                          <input type="number" name="numberOfOrders" id="numberOfOrders" ng-model="customer.numberOfOrders" class="form-control" required>
                        </div>
                        <input type="submit" value="Save" class="btn btn-info">
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            <!-- tab two start here-->
            <div id="menu1" class="tab-pane fade">

                <ul>
                  <li data-ng-repeat="customer in customers | filter : myFilter">
                    <div class="panel panel-success">
                      <div class="panel-heading">{{ customer.firstName }} {{ customer.lastName }}</div>
                      <div class="panel-body">
                    <div>  <label>Address: </label>{{ customer.address}}</div>
                    <div>  <label>Orders: </label>{{ customer.numberOfOrders }} </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <p></p>

            </div>

            <!-- tab three start here-->
            <div id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-md-offset-1 col-md-10 col-md-offset-1">
              <form ng-submit="submitForm(data)">
                  <input type="hidden" value="{{customer.id}}">
                  <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" name="firstName" id="firstName" ng-model="customer.firstName" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" name="lastName" id="lastName" ng-model="customer.lastName" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" name="address" id="address" ng-model="customer.address" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input type="text" name="email" id="email" ng-model="customer.email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="numberOfOrders">Number of Orders</label>
                      <input type="number" name="numberOfOrders" id="numberOfOrders" ng-model="customer.numberOfOrders" class="form-control" required>
                    </div>
                    <input type="submit" value="Save" class="btn btn-info">
                  </form>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>
