<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>carDekho</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng>
	<div class="container">
		<h1>Metacube Software Pvt.</h1>
		<p>Metacube is a Software Engineering Services company with experience
		 in developing enterprise applications for a wide spectrum of domains
		 including global trade management, supply chain analytics, manufacturing analytics,
		 business continuity planning, CRM, content management and eCommerce.
		 These applications have been developed on a variety of technology platforms.</p>
         <!-- Links for different pages -->
		 <a href="listCar.html">List of Cars</a><br/>
		
		 <a href="form.html">Create Car Entry</a>
	 </div>
</body>
</html>